/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    height: 50px;
    vertical-align:top
    
}

.sectionentete{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;


}

.Booki {
    max-width: 70px;
    height: auto;

}

.logo {
    border-radius: 10px;
}

nav {
    width: 328.601px;
    display: flex;
    align-items: center ;
    padding:0px 20px;
    gap: 68px;
    font-size: 16px;
}




nav a:hover{
    padding-top: 10px;
    text-decoration: overline;
    color: #0065FC
}

.activites:hover{
    text-decoration: overline;
    color: #0065FC;

}

.titredentete{
    margin-bottom: 8px;
}

.phrasedaccrocheentete{
    margin-top:0px ;
}
.barrederecherche{
    display: flex;
    width: 377px;
    height: 49px;
    flex-direction: row;
    gap: 12px;
    margin-top: 25px;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
}

input {
    outline:  none;
    border: 0px;
    width: 200px;
    height: 49px;

}

.boutonlocalisation{
    width: auto;
    height: auto;
    flex-shrink: 0;
    flex: 1;
}

.logoloc{
    height: 50px;
    width: 49px;
}

.boutonrecherche{
    display: flex;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: white;
    align-items: center;
    justify-content: center;
    width: 110px;
}

.filtres{
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
}



.boutoneconomique{
    display: flex;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    width: 173px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
}

.boutonfamilial{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    width: 134px;
    height: 50px;
    background-color: white;
    gap: 10px;
}

.boutonromantique{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    width: 173px;
    height: 50px;
    background-color: white;
    gap: 10px;    

}

.boutonpepites{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    width: 173px;
    height: 50px;
    background-color: white;
    gap: 10px;
}

button:hover{
    background-color:var(--blue-light, #DEEBFF);

}

.nblogements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergementsmarseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 0px;
    justify-content: space-between;
    flex: 1 0 0;
}

.hebergement-card{
    height: auto;
    width: 250px;
}

.images-hebergement{
    height: 124px;
    width: 240px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.hebergement-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}




.hebergement1{
    width: 50%;
}

.hebergement2{
    width: 50%;
}

.hebergement3{
    width: 50%;
}

.afficher-plus{
    margin-bottom: 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.section-activites{
    margin-top: 30px;
    padding: 30px;
}

.activitescards{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: 0px;

}

.activitescards .card{
    padding: 0px;
}


.images-activite{
    align-self: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 395px;
    width: 297px;
    
}

.activitescards .card-content {
    display: flex;
    padding: 20px 19px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    
   
}









/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

footer{
    background-color: #F2F2F2;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    gap: 0px;
    margin-top: 55px;
}


footer div{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    gap: 15px;
}


footer p{
    margin-top: 0px;
    margin-bottom: 0px;
}